FlowNodeRed_Hat_For_Blind.json
[
    {
        "id": "630ea4b30cc9ca05",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c836de039184f15b",
        "type": "mqtt in",
        "z": "630ea4b30cc9ca05",
        "name": "",
        "topic": "gps/nodered",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "87c43b9f.084818",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "e9646200eae533cf",
                "1cdb1c4ff876b5bd"
            ]
        ]
    },
    {
        "id": "5d7de6d8fe77b794",
        "type": "debug",
        "z": "630ea4b30cc9ca05",
        "name": "msg.payload.lat",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 280,
        "wires": []
    },
    {
        "id": "e9646200eae533cf",
        "type": "json",
        "z": "630ea4b30cc9ca05",
        "name": "",
        "property": "payload.lat",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 360,
        "wires": [
            [
                "5d7de6d8fe77b794",
                "fafec196964fc152"
            ]
        ]
    },
    {
        "id": "fafec196964fc152",
        "type": "function",
        "z": "630ea4b30cc9ca05",
        "name": "set location",
        "func": "msg.payload =  {\n    name:\"ตำแหน่งปัจจุบันของหมวก\",\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    icon:\"power-off\",\n    iconColor:\"red\"\n};\nreturn msg;\n\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 360,
        "wires": [
            [
                "04bb220c1119d72a",
                "eb10f3fcbca415ba",
                "9a630c4f5317a090"
            ]
        ]
    },
    {
        "id": "eb10f3fcbca415ba",
        "type": "worldmap",
        "z": "630ea4b30cc9ca05",
        "name": "",
        "lat": "10.72117",
        "lon": "99.3741",
        "zoom": "16",
        "layer": "OSMC",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "path": "/map",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,UKOS,OpTop",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 910,
        "y": 380,
        "wires": []
    },
    {
        "id": "04bb220c1119d72a",
        "type": "debug",
        "z": "630ea4b30cc9ca05",
        "name": "valuegps",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "1cdb1c4ff876b5bd",
        "type": "json",
        "z": "630ea4b30cc9ca05",
        "name": "",
        "property": "payload.lon",
        "action": "",
        "pretty": false,
        "x": 390,
        "y": 420,
        "wires": [
            [
                "fafec196964fc152",
                "862547d02dd8e863"
            ]
        ]
    },
    {
        "id": "862547d02dd8e863",
        "type": "debug",
        "z": "630ea4b30cc9ca05",
        "name": "msg.payload.lon",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 460,
        "wires": []
    },
    {
        "id": "b35a9234246364f3",
        "type": "remote-access",
        "z": "630ea4b30cc9ca05",
        "confignode": "d1cc849561772edd",
        "name": "",
        "verbose": 0,
        "x": 560,
        "y": 160,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "9a630c4f5317a090",
        "type": "ui_worldmap",
        "z": "630ea4b30cc9ca05",
        "group": "6fcee4fd369a5f94",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "10.72117",
        "lon": "99.3741",
        "zoom": "14",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/map",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 910,
        "y": 460,
        "wires": []
    },
    {
        "id": "87c43b9f.084818",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "d1cc849561772edd",
        "type": "remote-config",
        "name": "Node-RED_GPS_NodeRed",
        "host": "localhost",
        "protocol": "http",
        "port": "1880",
        "baseurl": "/map",
        "instancehash": "n2t7g2ihwc2buif2t3s4zbso3veucvxledf7jev34mgqlnoc3t2854ul5abax8r1",
        "server": "nodered03.remote-red.com",
        "region": "sg"
    },
    {
        "id": "6fcee4fd369a5f94",
        "type": "ui_group",
        "name": "GPS (lat,lon)",
        "tab": "23d4453a45d5fd3f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "23d4453a45d5fd3f",
        "type": "ui_tab",
        "name": "ตำแหน่งปัจจุบันของหมวกเพื่อผู้พิการทางสายตา ",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]